/* место для вашего кода */

.page {
  font-size: 18px;
  font-weight: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  background-image: url("../images/logo-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.address {
  appearance: none;
  font-style: normal;
  max-width: 240px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
  height: 757px;
  display: grid;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / .6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__title {
  display: grid;
  width: 1000px;
  height: 385px;
  font-size: 100px;
  font-weight: bold;
  line-height: 115px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 165px;
  left: 50px;
}

.aligned-text {
  justify-self: start;
  letter-spacing: 30px;
}

.aligned-text_center {
  justify-self: center;
  align-self: center;
}

.aligned-text_center span {
  letter-spacing: 30px;
}

.aligned-text_right {
  justify-self: end;
  align-self: end
}

.aligned-text_right span {
  letter-spacing: 30px;
}

.cover__description {
  padding: 0 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}

.cover__description-text span:nth-child(2), .cover__description-text span:nth-child(6) {
  padding-left: 25px;
}

.cover__description-text span:nth-child(3), .cover__description-text span:nth-child(4), .cover__description-text span:nth-child(7) {
  padding-left: 24px;
}

.cover__description-text span:nth-child(5) {
  padding-left: 23px;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: none;
  border: 1px solid #fff;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link, .card_type_film, .card_type_book, .card_type_picture {
  position: relative;
  height: 100%;
}

.card_type_film, .card_type_book, .card_type_picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding: 48px 40px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 48px;
  font-weight: normal;
}

.lots__look-more-link {
  margin-left: 40px;
  border-block-end: 1px solid #000;
  font-size: 20px;
}

.about {
  padding: 120px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  margin-top: 35px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 136px;
  padding-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  max-width: 690px;
}

.about__text p:first-child {
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  height: 180px;
  margin-top: 180px;
}

.footer__menu-list {
  justify-items: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-self: end;
  padding-right: 50px;
  gap: 48px;
  justify-items: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.address {
  margin-left: 50px;
}