/* место для вашего кода */

.page {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  background-image: url("../images/logo-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.address {
  appearance: none;
  font-style: normal;
  max-width: 240px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}
.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / .6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__title {
  display: grid;
  padding: 165px 50px 106px;
  font-size: 100px;
  font-weight: bold;
  line-height: 115px;
  letter-spacing: 30px;
  color: #fff;
  text-transform: uppercase;
}

.aligned-text {
  justify-self: start;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.cover__description {
  padding: 0 50px 50px;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 90%;
  color: #fff;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: none;
  border: 1px solid #fff;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link, .card_type_film, .card_type_book, .card_type_picture {
  position: relative;
  height: 100%;
}

.card_type_film, .card_type_book, .card_type_picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding: 48px 40px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 48px;
}

.lots__look-more-link {
  margin-left: 40px;
  text-decoration: underline;
}

.about {
  padding: 120px 24px 0;
}